<div class="section">
   <div class="container login_form" id="formstyle">
        
      <br><h3>Sign In To Your Account</h3><br>
            
             <form #formValue="ngForm"  name="loginForm" (submit)="loginForm(formValue)" class="form-group">
               <div class="row">
                  <span class="fa fa-user">
                     <label>Email</label>
                  </span>
                  <input type="email" ngModel name="email" #email="ngModel"  id="email" class="form__input" placeholder="Username" required>
                  <div class="alert alert-warning" role="alert" *ngIf="email.invalid && email.touched">This field is required.</div>
                
               </div>
               <div class="row">
                  <span class="fa fa-lock"></span>
                  <input type="password" ngModel name="password" #password="ngModel" id="password" class="form__input" placeholder="Password" required>
                  <div class="alert alert-warning" role="alert" *ngIf="password.invalid && password.touched">This field is required.</div>
               </div>
               <div class="row">
                  
                  <label for="remember_me"><input type="checkbox" name="remember_me" id="remember_me"> Remember Me!</label>
               </div>
               <div class="row" id="submit">
                  <input type="submit" [disabled]="formValue.invalid" value="Submit" class="btn">
               </div>
               <div role="alert" *ngIf="!loading">{{errorMessage}}</div>
            </form>
            <div class="row" id="row">
               <p>Don't have an account? <a routerLink="/signup">Register Here</a></p>
            </div>
            </div>
         </div>