<br>
<div class="container">
  <div class="row">
      <ng-container *ngFor="let item of pdt">
          <div class="card col-md-3">
              <img src={{item.ProductImg}} alt="" style="height: 250px; width:300px">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
              <p><strong>Price:</strong> ₹{{item.ProductPrice}}</p>
              <p><strong>category:</strong>{{item.category}}</p>
              <div *ngIf="admin">
              <button class="btn btn-info" type="button" routerLink="/update/{{item._id}}" >update</button><br>
              <button class="btn btn-danger" type="submit" (click)="Delete(item._id)">delete</button><br></div>
              <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
          </div>
      </ng-container>

  </div>
</div>



